[submodule ".registry"]
	path = .registry
	url = https://github.com/flo1met/flo1met.r-universe.dev
	branch = HEAD
[submodule "bvarnet"]
	path = bvarnet
	url = https://github.com/flo1met/bvarnet
	branch = dev
